/*
    Fuente predeterminada para los textos de la página.
*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani&display=swap');
@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');
/* Variables colores */

:root {
    /* PRIMARIO */
    --color-primary-0: #495353;
    --color-primary-1: #1f2020;
    --color-primary-2: #f1da16;
    /* SECUNDARIO */
    --color-secondary-1-0: #d5d7d6;
    --color-secondary-1-1: #6b7577;
    --color-secondary-1-2: #efe36b;
    /* TERCIARIO */
    --color-secondary-2-0: #8d9899;
    --color-secondary-2-1: #848b8f;
    --color-secondary-2-2: #f0e897;
}

/*
    Body:
        *margin: Sin margen.
        *background-color: Color predeterminado de fondo.
        *font-family: Fuente principal del contenido.
*/

body {
    margin: 0;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1vw;
}

/*
    ---------------FOOTER
*/

/* Footer */

.footer {
    position: relative;
    z-index: 1;
    display: flex;
    flex-flow: row wrap;
    padding: 30px;
    color: var(--color-secondary-1-0);
    background-color: var(--color-primary-1);
    border-top: 1px solid #e5e5e5;
}

.footer>* {
    flex: 1 100%;
}

.footerDireccion {
    margin-right: 1.25em;
    margin-bottom: 2em;
}

.footerDireccion h1 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.footer h2 {
    font-size: 1.2rem;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li {
    line-height: 2em;
}

.footer a {
    text-decoration: none;
}

.footer ul a {
    color: var(--color-secondary-2-0);
}

.footerNavegacion {
    display: flex;
    flex-flow: row wrap;
}

.footerEnviarCorreo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5em 1em;
    max-width: max-content;
    background-color: var(--color-secondary-2-0);
    border-radius: 5px;
    color: var(--color-primary-1);
    font-size: 1em;
}

.legal {
    color: var(--color-secondary-2-0);
}

/* Lo que ocupa cada cosa en el footer */

.footerNavegacion>* {
    flex: 1;
}

.footerDireccion {
    flex: 1 0px;
}

.footerNavegacion {
    flex: 2 0px;
}

/*
    ---------------FIN (FOOTER)---------------
*/

/*
    ---------------RESPONSIVE
*/

/* Pantallas grandes */

@media only screen and (min-width: 1200px) {}

/* Tablets en horizonal y pantallas normales 

Este es nuestro estándar*/

@media (min-width: 768px) and (max-width: 1199px) {}

/* Móviles en horizontal o tablets en vertical */

@media only screen and (max-width: 767px) {
    body {
        font-size: 3vw;
    }
}

/* Móviles en vertical */

@media only screen and (max-width: 480px) {}

/*
    ---------------FIN (RESPONSIVE)---------------
*/