@import url('https://use.fontawesome.com/releases/v5.0.1/css/all.css');

/* Variables colores */

:root {
    /* PRIMARIO */
    --color-primary-0: #495353;
    --color-primary-1: #1f2020;
    --color-primary-2: #f1da16;
    /* SECUNDARIO */
    --color-secondary-1-0: #d5d7d6;
    --color-secondary-1-1: #6b7577;
    --color-secondary-1-2: #efe36b;
    /* TERCIARIO */
    --color-secondary-2-0: #8d9899;
    --color-secondary-2-1: #848b8f;
    --color-secondary-2-2: #f0e897;
}


/* Filtro lateral */

#filtroLateral {
    margin-top: 3vw;
    width: 16%;
    left: 0;
    position: fixed;
    z-index: 1;
    background-color: var(--color-primary-1);
    color: var(--color-primary-2);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 5px;
}

#filtroLateral h3 {
    text-align: center;
}


/* Lista del filtro */

#listaFiltro {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 2vw;
}

#listaFiltro li {
    display: block;
    margin: 1vw;
}


/*

ul.ks-cboxtags li label{
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .3);
    color: #adadad;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

ul.ks-cboxtags li label {
    padding: 8px 12px;
    cursor: pointer;
}

ul.ks-cboxtags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    content: "\f067";
    transition: transform .3s ease-in-out;
}

*/

#listaFiltro li label {
    /*display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .3);
    color: #adadad;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
    padding: 8px 12px;
    cursor: pointer;*/
    padding-top: .5vw;
    padding-bottom: .5vw;
    text-align: center;
    width: 100%;
    display: inline-block;
    background-color: var(--color-secondary-1-0);
    border: 1px solid var(--color-primary-2);
    color: var(--color-primary-1);
    border-radius: 15px;
    white-space: nowrap;
    user-select: none;
    transition: all .2s;
    cursor: pointer;
}

#listaFiltro li label::before {
    /*display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    content: "\f067";
    transition: transform .3s ease-in-out;*/
    border: none;
    z-index: 2;
    padding-right: .5vw;
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    font-weight: 900;
    content: "\f067";
    transition: transform .3s ease-in-out;
}


/* Iconos posicionamiento */

#listaFiltro li input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}


/* Iconos animaciones */

#listaFiltro li input[type="checkbox"]:checked+label::before {
    content: "\f00c";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}

#listaFiltro li input[type="checkbox"]:checked+label {
    border: 1px solid var(--color-primary-1);
    background-color: var(--color-primary-2);
    color: var(--color-primary-1);
    transition: all .2s;
}

#listaFiltro li input[type="checkbox"]:focus+label {
    border: 1px solid var(--color-primary-0);
}


/* Contenido */

section {
    padding: 2vw;
    margin: 0 10% 0 15%;
}


/* PREUBAS */


/* ORDENAR */

#ordenarModelos {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 2em;
}

#ordenarModelos input[type="radio"] {
    opacity: 0;
    z-index: -1;
}

#ordenarModelos label {
    position: relative;
    margin-right: 1em;
    padding-left: 2em;
    padding-right: 1em;
    line-height: 2;
    cursor: pointer;
}

#ordenarModelos label::before {
    box-sizing: border-box;
    content: "";
    position: absolute;
    top: 0.3em;
    left: 0;
    display: block;
    width: 1.4em;
    height: 1.4em;
    border: 2px solid var(--color-primary-2);
    z-index: -1;
}

#ordenarModelos input[type="radio"]+label::before {
    border-radius: 1em;
}


/* Checked */

#ordenarModelos input[type="radio"]:checked+label {
    color: var(--color-primary-1);
}

#ordenarModelos input[type="radio"]:checked+label::before {
    top: 0;
    width: 110%;
    height: 2em;
    background: var(--color-primary-2);
}


/* Transition */

#ordenarModelos label,
#ordenarModelos label::before {
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}


/*     */


/* GRID */

#modelosGrid {
    /*background-color: var(--color-secondary-1-1);*/
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 5%;
    grid-row-gap: 1vw;
}


/* Modelo - ELEMENTO DEL GRID */

.modeloCocheVolador {
    position: relative;
    box-sizing: border-box;
    padding: 0;
}


/* Enlaces Modelo - ELEMENTO DEL GRID */

.modeloCocheVolador a {
    padding: 3em 0;
    display: block;
    text-align: center;
    text-decoration: none;
    color: var(--color-primary-1);
    transition: 0.3s;
}


/* Transformación HOVER Enlaces Modelo - ELEMENTO DEL GRID */


/* La animación color texto modelo coche */

@keyframes colorTextoModeloCreciendo {
    100% {
        color: var(--color-secondary-1-0);
    }
}

.modeloCocheVolador a:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px var(--color-secondary-1-0), -5px -5px 30px 15px var(--color-secondary-1-0);
    animation-name: colorTextoModeloCreciendo;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}


/* Color de fondo Modelo - ELEMENTO DEL GRID */

.modeloCocheVolador a .colorFondoModeloCocheVolador {
    z-index: -1;
    position: absolute;
    background-color: var(--color-primary-1);
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 0;
}


/* La animación color fondo modelo coche */

@keyframes colorFondoModeloCreciendo {
    100% {
        height: 100%;
    }
}


/* Animación HOVER Enlaces Modelo - ELEMENTO DEL GRID */

.modeloCocheVolador a:hover .colorFondoModeloCocheVolador {
    animation-name: colorFondoModeloCreciendo;
    animation-fill-mode: forwards;
    animation-duration: .5s;
}


/* Imagen Modelo - ELEMENTO DEL GRID */

.modeloCocheVolador a img {
    width: 80%;
    object-fit: cover;
    object-position: center center;
}


/* DIV Enlaces Modelo - ELEMENTO DEL GRID */

.modeloCocheVolador a div {
    /*background-color: var(--color-primary-1);
    color: var(--color-secondary-1-0);*/
}


/* Títulos DIV Enlaces Modelo - ELEMENTO DEL GRID */

.modeloCocheVolador a div * {
    margin: 0;
}


/* RESPONSIVE */


/* Pantallas grandes */

@media only screen and (min-width: 1200px) {}


/* Tablets en horizonal y pantallas normales 

Este es nuestro estándar
@media (min-width: 768px) and (max-width: 1199px) {  }*/


/* Móviles en horizontal o tablets en vertical */

@media only screen and (max-width: 950px) {
    /* Footer */
    .footer {
        display: block;
    }
    /* Contenido central de la página */
    section {
        padding: 0 6vw;
        margin: 0;
    }
    /* Modelos coches */
    #modelosGrid {
        margin: 0;
        grid-template-columns: 45% 45%;
        grid-column-gap: 10%;
        grid-row-gap: 1vw;
    }
    /* Filtro */
    #filtroLateral {
        position: relative;
        width: 100%;
        z-index: 0;
        background-color: var(--color-primary-1);
        color: var(--color-primary-1);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 2vw;
    }
    #filtroLateral h3 {
        color: var(--color-secondary-1-0);
        margin: 0;
        width: 100%;
    }
    #filtroLateral label {
        display: flex;
        width: fit-content;
    }
}


/* Móviles en vertical */

@media only screen and (max-width: 480px) {}